
.home_con {
  background-color: #ffffff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first baseline;
  overflow: hidden;
}
.heading{
  font-size: 2rem;
  text-align: center;
  color:#74ebd5;
  margin: 2rem;
}
.heading:hover{
  text-decoration: underline;
  
}
.input_con{
  width: 60%;
  display: flex;
  align-items: start;
  margin: 3rem;

}
.input_p {
  width: 30%;
  padding: 0.7rem 1rem;
  border: 0.2rem solid blue;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1rem;
}
.butto {
  padding: 0.7rem 1rem;
  background: grey;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.8s ease-in;
}
.butto:hover {
  background: #74ebd5;
}
.error{
  font-size: 2rem;
  color: #ff0000;
}
.container{
  width: 35%;
  height: 55vh;
  border: 0.4rem solid #747bff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block_word{
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}
.definition{
  font-size: 26px;
  font-weight: normal;
}
.aud_butn{
  margin-bottom: 2rem;
  padding: 5px;
}

@media (max-width: 640px) {
  .home_con{
    min-height:90vh;
    padding: 20px;
  }
  .input_con{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  .input_p {
    width: 50%;
    padding: 1.1rem 1rem;
    font-size: 1.2rem; 
  }
  .container{
    width: 90%;
    height: fit-content;
    border: 0.4rem solid #0312dd;
    padding: 17px;
    padding-top: 0;
  }
  .block_word{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74ebd5;
    
  }
  .heading{
    margin: 1rem;
  }
  .error{
    font-size: 1rem;
    color: #ff0000;
  }
  .definition{
    font-size: 25px;
  }
}